clique==2.0.0
cvxpy==1.5.1
gurobipy==11.0.2
kernel==0.0.0
knapsack==0.1.1
matplotlib==3.9.0
munkres==1.1.4
networkx==3.3
numpy==1.26.4
partition==0.1.2
pulp==2.8.0
pycosat==0.6.6
regex==2024.5.15
scipy==1.13.1
setuptools==60.2.0
sift==5.6.0
sympy==1.12.1
triangle==20230923
opencv-python

